:root {
    --titleBarBackgroundColor : #1c1c31;
    --titleTextColour:#FFFFFF;
    --titleButtonHover: #0077cc;
    --titleButtonActive: #014f86;
    --bodyBackgroundColor: #FFFFFF;
    --darkBackgroundColor: #252546;
    --darkTextColor: #A7A7A7 ;
}

* {
    margin: 0px;
    padding: 0px;
    border : 0px;
}

body {
    height:100%;
    width:100%;
    margin: 0px;
    padding:0px;
    background-color : var(--bodyBackgroundColor) ;
}

#titleFrame {
    box-sizing: border-box;
    height:25px;
    background-color: var(--titleBarBackgroundColor);
    width:100%;
    padding: 2px;
}

#titleBar {
    color : var(--titleTextColour);
    background-color : var(--titleBarBackgroundColor);
    height : 100%;
    width: 100%;
    -webkit-app-region: drag;
    z-index: 999999999;
    box-sizing: border-box;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    line-height: 35px;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 10px;
}

.titleBarClose {
    -webkit-app-region: no-drag;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 7px;
    padding: 5px;
    opacity: 0.9;
    z-index: 1000;
    cursor: pointer;
    box-sizing: border-box;
  }

  .titleBarClose:hover {
    background-color: var(--titleButtonHover);
    opacity: 1;
    border-radius: 3px;
  }

  .titleBarClose:active {
    background: var(--titleButtonActive);
  }

  .titleBarMaximize {
    -webkit-app-region: no-drag;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 29px;
    padding: 5px;
    opacity: 0.9;
    z-index: 1000;
    cursor: pointer;
    box-sizing: border-box;
  }

  .titleBarMaximize:hover {
    -webkit-app-region: no-drag;
    background-color: #0077cc;
    opacity: 1;
    border-radius: 3px;
  }

  .ttitleBarMaximize:active {
    background: #014f86;
  }
  .titleBarRestore {
    -webkit-app-region: no-drag;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 52px;
    padding: 5px;
    opacity: 0.9;
    z-index: 1000;
    cursor: pointer;
    box-sizing: border-box;
  }

  .titleBarRestore:hover {
    -webkit-app-region: no-drag;
    background-color: #0077cc;
    opacity: 1;
    border-radius: 3px;
  }

  .ttitleBarRestore:active {
    background: #014f86;
  }

  .titleBarMinimize {
    -webkit-app-region: no-drag;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 75px;
    padding: 5px;
    opacity: 0.9;
    z-index: 1000;
    cursor: pointer;
    box-sizing: border-box;
  }

  .titleBarMinimize:hover {
    background-color: var(--titleButtonHover);
    opacity: 1;
    border-radius: 3px;
  }

  .titleBarMinimize:active {
    background: var(--titleButtonActive);
  }

  .row{
    width: 100%;
    height: 30px;
    margin: 5px;
  }

  .row .menuButton{
    float: left;
  }

  .row p{
    padding: 6px;
    font-size: 10px;
  }

  .menuButton{
    height: 30px;
    width: 150px;
    background-color: var(--darkBackgroundColor);
  }

  .menuButton p{
    height: 100%;
    width: 100%;
    padding: 6px;
    color: var(--darkTextColor);
    font-size: 15px;
  }

  footer{
    height:25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkBackgroundColor) ;
    vertical-align: middle;
  }

  #version-number-container{
    float: left;
    margin: 7px;
    color: var(--darkTextColor);
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 10px;
    display: flex;
  }

  #dev-button{
    float: right;
    margin: 7px;
    color: var(--darkTextColor);
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 10px;
    display: flex;
  }